@charset "CP850";
/**
*Esta variable alberga la paleta de colores
*hay que tomar en cuenta que el orden importa
*si se quisiera cambiar un color ya que esta 
*variable se utiliza a traves de una funcion 
*llamada getColor (esta funcion se encuentra 
*en el partial _functions.scss) que lleva como
* parametro la la posicion del color en la lista.
**/
/**
*tamaño base para toda la tipografia del sitio en pixeles, 
*es importante no escribir px ya que con esta variable se 
*realizan calculos para el resto de las tipografias
**/
/**
*Apartado de tipografias definidas para el sitio
**/
/**
* cambios de tema por seccion este mixin esta diseñado 
* para recibir los 2 colores del tema como parametros 
* ya que las variaciones de cada seccion siempre son las mismas
* por lo tanto con llamar este mixin en cada seccion con 
* diferente combinacion de colores es suficiente.
**/
body {
  font-size: 10px;
}

h1 {
  font-family: "Times New Roman";
  font-size: 35px;
  font-size: 3.5rem;
  color: #004f80;
}

h2 {
  font-family: "Times New Roman";
  font-size: 2.6em;
  color: #004f80;
}

h3 {
  font-family: Arial;
  font-size: 2.1em;
  color: #404040;
}

.cuadro {
  color: #333;
  display: inline-block;
  width: 68px;
  height: 40px;
  border: solid #efefef 4px;
  margin-bottom: 50px;
}
.cuadro:after {
  display: block;
  height: 20px;
  font-size: 16px;
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
.cuadro:before {
  display: block;
  height: 20px;
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin-top: -25px;
}

.p1 {
  background-color: #006fa6;
}
.p1:after {
  content: "#006fa6";
}
.p1:before {
  content: "id1";
}

.p2 {
  background-color: #00aeef;
}
.p2:after {
  content: "#00aeef";
}
.p2:before {
  content: "id2";
}

.p3 {
  background-color: #136993;
}
.p3:after {
  content: "#136993";
}
.p3:before {
  content: "id3";
}

.p4 {
  background-color: #3c99bc;
}
.p4:after {
  content: "#3c99bc";
}
.p4:before {
  content: "id4";
}

.p5 {
  background-color: #bd177f;
}
.p5:after {
  content: "#bd177f";
}
.p5:before {
  content: "id5";
}

.p6 {
  background-color: #ff39b5;
}
.p6:after {
  content: "#ff39b5";
}
.p6:before {
  content: "id6";
}

.p7 {
  background-color: #c82222;
}
.p7:after {
  content: "#c82222";
}
.p7:before {
  content: "id7";
}

.p8 {
  background-color: #ff4c4c;
}
.p8:after {
  content: "#ff4c4c";
}
.p8:before {
  content: "id8";
}

.p9 {
  background-color: #fe6500;
}
.p9:after {
  content: "#fe6500";
}
.p9:before {
  content: "id9";
}

.p10 {
  background-color: #fe9e00;
}
.p10:after {
  content: "#fe9e00";
}
.p10:before {
  content: "id10";
}

.p11 {
  background-color: #307701;
}
.p11:after {
  content: "#307701";
}
.p11:before {
  content: "id11";
}

.p12 {
  background-color: #48b600;
}
.p12:after {
  content: "#48b600";
}
.p12:before {
  content: "id12";
}

.p13 {
  background-color: #004f80;
}
.p13:after {
  content: "#004f80";
}
.p13:before {
  content: "id13";
}

.p14 {
  background-color: #404040;
}
.p14:after {
  content: "#404040";
}
.p14:before {
  content: "id14";
}

.p15 {
  background-color: #666666;
}
.p15:after {
  content: "#666666";
}
.p15:before {
  content: "id15";
}

.p16 {
  background-color: gray;
}
.p16:after {
  content: "gray";
}
.p16:before {
  content: "id16";
}

.p17 {
  background-color: #e3e3e3;
}
.p17:after {
  content: "#e3e3e3";
}
.p17:before {
  content: "id17";
}

.p18 {
  background-color: #ececec;
}
.p18:after {
  content: "#ececec";
}
.p18:before {
  content: "id18";
}

.p19 {
  background-color: whitesmoke;
}
.p19:after {
  content: "whitesmoke";
}
.p19:before {
  content: "id19";
}

.p20 {
  background-color: #faf9f5;
}
.p20:after {
  content: "#faf9f5";
}
.p20:before {
  content: "id20";
}

.p21 {
  background-color: white;
}
.p21:after {
  content: "white";
}
.p21:before {
  content: "id21";
}

.secciones {
  *zoom: 1;
}
.secciones:after {
  content: "";
  display: table;
  clear: both;
}
.secciones div {
  float: left;
  border: solid 4px #efefef;
  margin: 2px;
  padding: 2px;
}

.tipografia {
  *zoom: 1;
}
.tipografia:after {
  content: "";
  display: table;
  clear: both;
}
.tipografia div {
  float: left;
  border: solid 4px #efefef;
  margin: 2px;
  padding: 2px;
}
.tipografia div pre {
  font-size: 2em;
}
.tipografia div .sh1d {
  font-family: Arial;
  font-weight: bold;
  font-size: 10px;
  font-size: 1rem;
  color: gray;
  display: block;
  background-color: #ececec;
}
.tipografia div .sh1l {
  font-family: Arial;
  font-weight: bold;
  font-size: 10px;
  font-size: 1rem;
  color: white;
  display: block;
  background-color: gray;
}
.tipografia div .sh2n {
  font-family: "Times New Roman";
  color: #004f80;
  font-size: 13px;
  font-size: 1.3rem;
  display: block;
}
.tipografia div .sh2n a {
  text-decoration: none;
  color: inherit;
}
.tipografia div .sh2n a:hover {
  color: #00aeef;
}
.tipografia div .sh2d {
  font-family: "Times New Roman";
  color: #004f80;
  font-size: 18px;
  font-size: 1.8rem;
  display: block;
}
.tipografia div .sh2d a {
  text-decoration: none;
  color: inherit;
}
.tipografia div .sh2d a:hover {
  color: #00aeef;
}
.tipografia div .sh2b {
  font-family: "Times New Roman";
  color: #004f80;
  font-weight: bold;
  font-size: 11px;
  font-size: 1.1rem;
  display: block;
}
.tipografia div .sh2b a {
  text-decoration: none;
  color: inherit;
}
.tipografia div .sh2b a:hover {
  color: #00aeef;
}
